* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 227, 197);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 165, 0, 0.4);
  width: 460px;
}

.password-container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #10bd41;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  color: black;
}

.register-btn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #1bc00c;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 25%;
}

.set-btn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #1bc00c;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 25%;
}
.register-btn:hover {
  background-color: #0a9b1b;
}
.input-with-button {
  position: relative;
}

.input-with-button input {
  width: 70%;
  padding-right: 1px; /* make room for button */
}

.send-otp-btn {
  position: absolute;
  width: 90px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 10px;
  background-color: #49cd07;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.send-otp-btn:hover {
  background-color: #e69500;
   transition: background 0.3s ease;
}
#sent-otp{
    color:#000;
    text-align: center;
}

.register{
  margin-left: 73%;
}